<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${loggedInUser.name + ' | SCM'}">
      Contacts on cloud page
    </title>
  </head>
  <body>
    <div id="content">
      <!-- if user is logged in :sidebar -->
      <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::user-sidebar}"></div>
        <!-- //sidebar is file and user-sidebar is file name. -->
      </div>

      <div class="sm:pl-64 pt-20">
        <div>
          <h1 class="text-3xl font-bold text-center">
            All your saved contacts
          </h1>
          <p class="text-center">List of all contacts</p>

          <div class="contacts_container p-5">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <form
                data-th-object="${contactSearchForm}"
                data-th-action="@{'/user/contacts/search'}"
              >
                <div
                  class="flex space-x-3 p-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
                >
                  <!-- select box -->

                  <div>
                    <select
                      data-th-field="*{field}"
                      id="countries_disabled"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                      <option selected value="">Select an option</option>
                      <option value="name">Name</option>
                      <option value="email">Email</option>
                      <option value="phone">Phone</option>
                    </select>
                  </div>
                  <label for="table-search" class="sr-only">Search</label>
                  <div class="relative">
                    <div
                      class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
                    >
                      <svg
                        class="w-4 h-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                      </svg>
                    </div>
                    <input
                      data-th-field="*{value}"
                      type="text"
                      id="table-search-users"
                      class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Search for users"
                    />
                  </div>
                  <button type="submit" class="px-3 py-2 bg-gray-800 rounded">
                    Search
                  </button>
                </div>
              </form>
              <table
                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Phone</th>
                    <th scope="col" class="px-6 py-3">Links</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    th:each="c : ${pageContact}"
                    th:object="${c}"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                  >
                    <!-- Name + Email + Profile -->
                    <th
                      scope="row"
                      class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      <img
                        onerror="this.src='https://media.istockphoto.com/id/2173059563/vector/coming-soon-image-on-white-background-no-photo-available.jpg?s=612x612&w=0&k=20&c=v0a_B58wPFNDPULSiw_BmPyhSNCyrP_d17i2BPPyDTk='"
                        class="w-10 h-10 rounded-full"
                        th:src="*{picture}"
                        alt="profile"
                      />
                      <div class="ps-3">
                        <div class="text-base font-semibold" th:text="*{name}">
                          Name
                        </div>
                        <div
                          class="font-normal text-gray-500"
                          th:text="*{email}"
                        >
                          email@example.com
                        </div>
                      </div>
                    </th>

                    <!-- Phone -->
                    <td class="px-6 py-4">
                      <i class="fa-solid fa-phone w-4 h-4"></i>
                      <span th:text="*{phoneNumber}">0000000000</span>
                    </td>

                    <!-- Links -->

                    <td class="px-6 py-4">
                      <a th:href="@{*{websiteLink}}" target="_blank"
                        >Visit Website</a
                      >
                      <!-- <a th:href="@{*{socialMediaLink}}" target="_blank"
                        >Visit Social Media</a
                      > -->
                    </td>

                    <!-- Action -->
                    <td class="px-6 py-4">
                      <div>
                        <a href="">
                          <i class="fa-solid w-6 h-6 fa-trash"></i>
                        </a>

                        <a href=""><i class="fa-solid w-6 h-6 fa-pen"></i></a>
                        <button onclick="openContactModal()">
                          <i class="fa-solid fa-eye"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- //pagination view -->

              <div class="pagination_container p-5 text-center">
                <nav aria-label="Page navigation example">
                  <ul class="inline-flex -space-x-px text-base h-10">
                    <li th:unless="${pageContact.first}">
                      <a
                        th:href="@{'/user/contacts/view?size='+${pageSize}+'&page='+${pageContact.number - 1}}"
                        href="#"
                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >Previous</a
                      >
                    </li>
                    <li
                      th:each="index:${#numbers.sequence(0, pageContact.totalPages - 1)}"
                    >
                      <a
                        th:href="@{'/user/contacts/view?size='+${pageSize}+'&page='+${index}}"
                        href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                      >
                        <span th:text="${index + 1}"></span>
                      </a>
                    </li>
                    <li th:unless="${pageContact.last}">
                      <a
                        th:href="@{'/user/contacts/view?size='+${pageSize}+'&page='+${pageContact.number + 1}}"
                        href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >Next</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div data-th-replace="~{user/contact_modal::contact}"></div>
      </div>
    </div>

    <script th:src="@{/js/contacts.js}"></script>

    <script>
      console.log("This is all the contacts user saved on cloud");
    </script>
  </body>
</html>
