<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${loggedInUser.name + ' | SCM'}">Add-Contact page</title>
  </head>
  <body>
    <div id="content">
      <!-- if user is logged in :sidebar -->
      <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::user-sidebar}"></div>
        <!-- //sidebar is file and user-sidebar is file name. -->
      </div>
      <div class="sm:pl-62" style="padding-top: 100px; height: 1000px">
        <div class="grid grid-cols-12">
          <div class="col-span-3"></div>
          <div class="col-span-12 md:col-span-6">
            <div
              class="card block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
              <div data-th-replace="message::messagebox"></div>
              <h1 class="text-gray-900 text-2xl font-bold dark:text-white">
                Add New Contact
              </h1>

              <p class="text-gray-500">
                This contact will be stored on cloud using my web app scm
              </p>

              <!-- starting of the form -->
              <form
                action="#"
                class="mt-5"
                method="post"
                data-th-action="@{/user/contacts/add}"
                data-th-object="${contactForm}"
                enctype="multipart/form-data"
              >
                <!-- name -->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact name</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <input
                      data-th-field="*{name}"
                      type="text"
                      id="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('name')}"
                    data-th-error="*{name}"
                  >
                    Invalid name
                  </p>
                </div>

                <!-- Email -->

                <div class="mb-3">
                  <label
                    for="input-group-2"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Email</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <input
                      data-th-field="*{email}"
                      type="text"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="email@gmail.com"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('email')}"
                    data-th-error="*{email}"
                  >
                    Invalid email
                  </p>
                </div>

                <!-- phone number -->

                <div class="mb-3">
                  <label
                    for="input-group-2"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Phone Number</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <input
                      data-th-field="*{phoneNumber}"
                      type="text"
                      id="phoneNumber"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="+91 000000000"
                    />
                  </div>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('phoneNumber')}"
                    data-th-error="*{phoneNumber}"
                  >
                    Invalid phone number
                  </p>
                </div>

                <!-- address -->
                <div class="mb-3">
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Address</label
                  >
                  <textarea
                    data-th-field="*{address}"
                    id="address"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your address..."
                  ></textarea>
                  <p
                    class="text-red-500"
                    data-th-if="${#fields.hasErrors('address')}"
                    data-th-error="*{address}"
                  >
                    Invalid address
                  </p>
                </div>

                <!-- descriptions -->

                <div class="mb-3">
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Descriptions</label
                  >
                  <textarea
                    data-th-field="*{descriptions}"
                    id="descriptions"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your thoughts whatever you wish to write"
                  ></textarea>
                </div>

                <!-- social media links -->
                <div class="flex space-x-3">
                  <div class="w-full">
                    <div class="mb-3">
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-brands fa-instagram"></i>
                        </div>
                        <input
                          data-th-field="*{websiteLink}"
                          type="text"
                          id="websiteLink"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Instagram link"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="w-full">
                    <div class="mb-3">
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-brands fa-square-github"></i>
                        </div>
                        <input
                          data-th-field="*{GithubLink}"
                          type="text"
                          id="githubLink"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Github link"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- add contact image -->
                <div class="flex items-center justify-center w-full">
                  <label
                    for="image_file_input"
                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                  >
                    <div
                      class="flex flex-col items-center justify-center pt-5 pb-6"
                    >
                      <svg
                        class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 16"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 
             5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 
             0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                        />
                      </svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                        <span class="font-semibold">Click to upload</span> or
                        drag and drop
                      </p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">
                        SVG, PNG, JPG or GIF (MAX. 800x400px)
                      </p>
                    </div>
                    <input
                      data-th-field="*{contactImage}"
                      type="file"
                      class="hidden"
                      id="image_file_input"
                    />
                  </label>
                </div>

                <p
                  class="text-red-500"
                  data-th-if="${#fields.hasErrors('contactImage')}"
                  data-th-error="*{contactImage}"
                >
                  Invalid file
                </p>

                <!-- button -->
                <div class="button-container text-center mt-5">
                  <button
                    type="submit"
                    class="px-3 py-2 rounded bg-black text-white"
                  >
                    Add Contact
                  </button>
                  <button
                    type="reset"
                    class="px-3 py-2 rounded bg-black text-white"
                  >
                    Reset
                  </button>
                </div>
              </form>

              <!-- ending of the form -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      console.log("This is add-contact page");
    </script>
  </body>
</html>
